/*-------------------header-------------------------*/
#headerAd {
	margin: 0 auto;
	text-align: left;
	width: 78%;
}

.error {
	margin-top: 20px;
}

div.facebookshare {
	display: inline;
	float: right;
}

.ad {
	border: 0px;
	text-align: center;
}

.contentClass {
	clear: both;
}

.inboxIcon {
	background: url('/resources/images/Einbox.png') !important;
	background-repeat: no-repeat;
}

#onlineuser {
	float: right;
	margin-top: 10px;
	width: 5%;
}

a:link {
	/**color: #005790; */
	color: #000;
}

.grid a:visited,ul li a:visited {
	color: #005790;
}

a.sectionTitle:visited {
	color: #005790;
}

a.highlight {
	background-color: #AAAAAA;
}

a:hover {
	color: #F90;
}

.subtitle {
	font-size: medium;
	display: block;
}

.errorMessClass {
	color: red;
}

html {
	margin: 0px auto;
	min-width: 1350px;
}

.highLight {
	border: 1px solid #EEEEEE;
	background-color: #F3F9FB;
	margin-top: 20px;
	min-height: 200px;
}

.highLight a:link {
	line-height: 1.8em;
}

/*#datatalbe styles*/
.dataTableStyle {
	background-color: white;
	width: 100%;
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: medium;
	font-varian vt: normal;
	font-style: normal;
	color: -webkit-text;
	text-align: -webkit-auto;
	border-style: solid;
	border-width: 0px .1px 0px .1px;
	border-color: lightgray;
}

.dataTableheaderStyle {
	text-align: center;
}

.oddRow {
	color: red;
}

.evenRow {
	color: black;
}

.errorMess {
	font-style: italic;
	color: red;
}

/** the style for the paginator of the view Reply.xhtml
*/
.pagerStyle {
	float: left;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	background-color: #EEEECC;
	width: 100%;
	color: white;
}

.dataTableheaderStyle {
	background-color: #EEEECC;
	margin: 0px;
}

.scroller {
	display: inline;
	float: right;
}

#scroll_2 {
	float: left;
	margin-top: 10px;
}

/*thread table column*/
.threadcolumclass {
	width: 65%;
}

/*inline style*/
.inlineStyle {
	display: inline;
}

/*-------------------thread---------------------- */
.ownerSection {
	background: none repeat scroll 0% 0% #E6E6E6;
}

.actionSection {
	width: 100%;
	border-bottom-style: solid;
	border-bottom: thin;
	background: none repeat scroll 0% 0% #E6E6E6;
	float: right;
}

.mainThreadSection {
	float: left;
	width: 100%;
}

.panelLeft {
	width: 20%;
}

.forumbuttonli {
	list-style: none;
	float: left;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.threadreplytdcolor {
	background: #E6E6E6;
}

.bg-divider {
	background-color: #FBFBF2;
	display: block;
}

.quickreplyclass {
	border-style: solid, solid, solid, solid
}

a:link {
	color: #16387C;
	text-decoration: none;
}

.schbar a {
	font-weight: 700;
	padding: 8px 0 0 20px;
	height: 14px;
}

#banner {
	float: left;
}

#banner  a {
	margin-left: 0px;
}

.rightcorner {
	display: inline;
	height: 60px;
	width: 120px;
	float: left;
}

.new {
	background-color: white;
	font-style: italic;
}

.ui-log {
	top: 400px;
	left: 500px;
}

a:link {
	margin-left: 2px;
}

.messageReadClass {
	width: 750px;
	height: 400px;
}

.newMessage {
	font-weight: bold;
}

.readMessage {
	font-weight: normal;
}

/**
* *****************Refactor*******************
*/
#search {
	float: right;
	width: 350px;
}

.leftSideProfile {
	float: left;
	min-width: 10%;
	border: solid 1px #D5E6ED;
	margin: 10px 5px 10px 10px;
	width: 12%;
	min-height: 300px;
}

div#leftSide,div#rightSide {
	margin-top: 100px;
}

#mainLayoutTable td.left {
	min-width: 5%;
	margin-top: 30px;
	margin-left: 5px;
	width: 9%;
	max-width: 200px;
	vertical-align: top;
}

#mainLayoutTable {
	width: 100%;
	margin: auto 0px;
	table-layout: fixed;
}

#mainLayoutTable td.right {
	min-width: 5%;
	position: relative;
	width: 9%;
	margin: 30px 5px;
	max-width: 200px;
	vertical-align: top;
}

#mainProfilePanel {
	float: left;
	width: 80%;
}

.central {
	width: 100%;
	/**border: 1px solid #666666; */
	min-height: 300px;
	margin: 0 auto;
	float: left;
}

.header {
	direction: ltr;
	font-size: 13px;
	line-height: 1.28;
	text-align: left;
	width: 100%;
	margin: 0 auto;
	min-width: 900px;
	position: relative;
	z-index: 1;
	height: 160px;
}

#menu {
	float: left;
	width: 55%;
}

#menu li {
	display: inline;
	list-style-type: none;
	padding-right: 5px;
}

#menu li span#messagesNumberx {
	opacity: .35;
	background-image: none;
}

label {
	font-size: 13px;
	text-align: right;
	color: #1D2A5B;
}

.th {
	width: 200px;
}

.viewStoreMainColumn {
	width: 75%;
}

.commandButton {
	margin: 20px 0;
}

.title {
	font-size: large;
	margin-bottom: 25px;
	border: 1px, solid;
	border-top: 0px;
}

#enrollFormId input {
	width: 250px;
}

#loginForm input {
	width: 200px;
}

#loginForm table .th {
	width: 150px;
}

table td {
	padding: 0px;
}

.buttonTable {
	margin-top: 20px;
	margin-left: 190px;
}

.ui-dialog table input {
	width: auto;
}

h1 {
	color: #014C90;
	margin: 5px;
	font-size: 1.2em;
}

.outLineBorder {
	border: 1px solid #D5E6ED;
	vertical-align: middle;
	min-height: 270px;
}

#replydatatable td.readFloor_Main {
	border: 1px solid #D5E6ED;
}

#replydatatable thead {
	display: none;
}

#readFloor_Main_Content_Table,#readFloor_Main_Content_Reply_Table {
	table-layout: fixed;
	width: 100%;
}

#readFloor_Main_Content_Reply_Table td {
	border-style: none;
	border-width: 0px;
}

div.readFloor_Main_Content table td {
	border-style: none;
	border-width: 0px;
}

table.viewThreadTable {
	border: 1px solid #D5E6ED;
	border-collapse: collapse;
	table-layout: fixed;
}

#replydatatable .readFloor_Left,.readFloor_Left {
	background: none repeat scroll 0 0 white;
	border: 1px solid #D5E6ED;
	vertical-align: top;
	width: 140px;
	text-align: left;
	padding: 0px;
	font-size: 0.8em;
}

.readFloor_Left label {
	vertical-align: middle;
	float: left;
	text-align: left;
	width: auto;
}

.readFloor_Main_Content {
	font-size: 16px;
	min-height: 120px;
}

#readFloor_Main_Content_Table>td {
	width: 100%;
	border: 0px;
}

.readFloor_Main_Content_Action,.readFloor_Main_Top_Rating {
	float: right;
	font-size: 0.7em;
}

.readFloor_Main_Top_Misc {
	display: inline;
	border: 0px;
}

#replyform div.readFloor_Main_Top_Misc {
	display: block;
}

.readFloor_main_Content table {
	border: 0px;
}

table.readFloor_Main table td {
	border: 0px;
	border-style: none;
}

.table_No_Border {
	border-width: 0px;
	border-style: none;
}

blockquote,iframe blockquote {
	background: url("images/blockquote3.png") no-repeat scroll right top
		#F7F7F7;
	border: 1px dashed green;
	clear: left;
	margin-left: 0;
	padding: 5px 10px;
}

.readNum li {
	border-left: 1px solid #D5E6ED;
	float: left;
	line-height: 12px;
	width: 64px;
	font-size: 1em;
	text-shadow: 1px 1px rgba(0, 0, 0, 0);
	text-align: center;
}

ul,li {
	list-style: none outside none;
}

.readNum ul {
	margin-left: -1px;
	padding: 2px 0;
	width: 160px;
}

.readNum li em {
	display: block;
	font-weight: 600;
	padding-bottom: 5px;
	font-style: normal;
}

.loginTip {
	border: 1px solid;
	min-height: 100px;
	text-align: center;
	min-width: 450px;
}

.loginTip span {
	line-height: 100px;
}

.replyFloor_Left {
	float: left;
	min-height: 270px;
	border-bottom: 0px;
}

#loginForm>div {
	width: 80%;
	margin-left: 10%;
	padding: 20px;
}

.loginPanelGrid td {
	padding: 5px;
}

/****
*******set the border of the table(Top, left, right) to Zero
* **************************Begin *************************************************
*****/

/*
table.noBorderTable tr:first-child th {
	border-top: 0;
}

table.noBorderTable tr td:first-child,table.noBorderTable tr th:first-child
	{
	border-left: 0;
}

table.noBorderTable tr td:last-child,table.noBorderTable tr th:last-child
	{
	border-right: 0;
}

*/
/****************************End********************************************/
.viewThreadTable {
	width: 100%;
}

table.noBorderTable {
	table-layout: fixed;
}

.profileTable {
	margin: 20px;
	width: 80%;
	border-collapse: collapse;
	border: 1px solid #D5E6ED;
}

.profileTable td.th {
	width: 100px;
}

.changeProfilePicDiv table td {
	padding: 5px;
}

.changeProfilePicDiv {
	margin: 30px;
	border: 1px solid #D5E6ED;
}

.profileTable td {
	padding: 5px;
}

table tfoot td,table thead th {
	text-align: center;
	padding: 20px;
}

table thead th {
	font-style: normal;
	font-size: 2em;
	font-weight: normal
}

#indexForm th {
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px;
}

/* remove the column header */
#indexForm  thead tr:last-child {
	display: none;
}

#indexForm>div {
	padding-top: 5px;
	margin-bottom: 20px;
}

#indexForm>div.title {
	padding-top: 5px;
	margin-bottom: 2px;
}

table.noBorderTable  thead th {
	font-style: normal;
	font-size: 0.9em;
	font-weight: bold;
	padding: 2px 5px;
	background: #F4F7FC;
}

table.noBorderTable tfoot tr td,div.tableWrapper div.ui-datatable-footer,table.noBorderTable thead tr th.ui-state-default
	{
	background: #F4F7FC;
}

div.ui-paginator,.highlight {
	background-color: white;
}

.tableWrapper {
	width: 99%;
}

/***********************Message *************************/
#messageOuterlayoutId {
	width: 1300px;
	height: 1000px;
}

#messageOuterlayoutId .innerLayout_Message {
	min-width: 400px;
	min-height: 600px;
	border: 0px;
}

.outLayoutUnit_Center_Message {
	border: 0px;
}

.innerLayoutUnit_Center_Message {
	min-width: 680px;
}

.noBorder {
	border: 0px;
}

.innerLayoutUnit_Center_Message form {
	height: 100%;
}

#messageReplyTextArea {
	height: 85%;
	width: 95%;
	box-shadow: 0 1px 1px #8F8F8F;
}

#message_LeftSide {
	border: 0px;
	width: 80%;
}

#messagePanelId input,#messagePanelId textarea {
	width: 95%;
}

#messagePanelId textarea {
	height: 300px;
}

#messagePanelId *.th {
	width: 100px;
}

/*******************************Footer*****************************************/
.foot,.foot a {
	font-size: 12px;
	text-align: center;
	background-color: #F8F8F8;
}

.foot {
	line-height: 25px;
	padding: 9px;
	clear: both;
	margin: 0 auto;
	min-width: 972px;
}

.foot li {
	border-right: 1px dotted #BDBDBD;
	display: inline;
	float: left;
	padding: 0 5px;
	width: 100px;
}

.mainlayoutcolor {
	background: lightgray;
}

.navigation {
	margin: auto;
	clear: both;
	padding: 10px;
	font-size: 1.2em;
}

#MyReplyTable {
	width: 100%;
}

#MyReplyTable  td.readFloor_main {
	border: 1px solid #D5E6ED;
}

td.right div#rightSide {
	margin-left: 8px;
}

.block {
	display: block;
	border: 0.0px solid #B9C7D3;
	clear: both;
	margin-top: 2px;
}
/****** copied from header.css*****/
.schbox {
	left: 220px;
	position: absolute;
	top: 20px;
	z-index: 999;
}

a:link {
	color: #004B91;
}

.center60pct {
	width: 60%;
	margin: auto;
}

#listCategoryForm thead tr,#listCategoryForm  tfoot tr {
	height: 20px;
}

#listCategoryForm tr {
	height: 50px;
}

.readFloor_Comment_Content {
	min-height: 40px;
}

.readFloor_comment_left {
	float: left;
	margin-right: 12px;
}

.leftpage {
	width: 75%;
	float: left; /**
	border-right: 1px solid #B9C7D3; */
	border-top: 1px solid #B9C7D3;
	margin-top: 10px;
}

.rightpage {
	min-height: 300px;
	width: 24%;
	float: right;
	margin-top: 10px;
}

.rightpage li {
	list-style-position: inside;
	list-style-type: disc;
	padding: 5px;
}

.rightpage ul {
	padding: 5px;
	font-size: 0.9em;
}

.rightpage div.ui-datalist-header {
	text-align: left;
	background-color: white;
	border: 0px;
	border-top: 1px solid #D5E6ED;
	border-bottom: 1px solid #D5E6ED;
}

.rightpage div.ui-datalist-content {
	border: 1px solid #D5E6ED;
}

.leftpage div.ui-datalist-header,.leftpage div.ui-datalist-content {
	border: 0px;
	background-color: white;
	border-bottom: 2px solid;
	border-bottom-color: #344E7F;
}

.commentMainContainer {
	border: 0 none;
}

#commentTable div.ui-paginator-bottom,#commentTable div.ui-datalist-header,#commentTable div.ui-widget-content,.leftpage div.ui-paginator-bottom
	{
	background-color: white;
	border: 0px;
}

.ui-comment {
	border-top: 1px solid #EBEBEB;
	margin: 0 10px;
	padding: 17px 10px;
	overflow: hidden;
	zoom: 1;
}

.ui-comment blockquote {
	clear: both;
	margin: 0 5px 0 0;
	line-height: 1.4em;
	word-wrap: break-word;
	overflow-x: auto;
	overflow-y: auto;
	background-color: white;
	border: 0 none;
}

.readFloor_comment_right {
	position: relative;
	overflow: hidden;
}

.commentUserProfilePic {
	height: 48px;
	width: 48px;
}

blockquote.quoteBlockQuote {
	background: #F7F7F7;
	border: 1px dashed green;
	clear: left;
	margin-left: 0;
	padding: 5px 10px;
}

#createCommentDiv {
	padding-left: 17px;
}

.RegularPadding {
	padding-top: 30px;
	padding-bottom: 10px;
	font-weight: bold
}

#commentContent {
	width: 550px;
}

.thumbnail {
	margin-right: 10px;
	vertical-align: middle;
	overflow: hidden;
	background-color: transparent;
	width: 50px;
	height: 50px;
}

img.dealpicInListing {
	max-width: 80px;
	max-height: 80px;
	bottom: 0;
	margin: auto;
	/**position: absolute; */
	top: 0;
	bottom: 0;
}

div.thumbnail a {
	font-size: 116%;
	font-weight: bold;
}

li.thumb {
	clear: both;
	padding: 10px 0px;
	padding: 6px 0 6px 0;
	border-bottom: 1px dotted;
}

li.thumb .txt p {
	padding-top: 5px;
	color: #777;
}

li.thumb .txt  a.title {
	font-size: 100%;
	font-weight: bold;
}

.leftpage h1 {
	color: black;
	text-align: left;
}

.leftpage .txt p {
	padding: 10px;
}

.viewNewsTable,.newssubtitle {
	border: 0px;
	border-bottom: 2px solid;
	border-bottom-color: #344E7F;
	width: 100%;
}

.newssubtitle {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.newsSubject h1 {
	font-size: large;
	padding-top: 10px;
}

.thumbNailPic {
	width: 100px;
	height: 70px;
}

.rectacularPictureDiv {
	float: left;
	width: 322px;
	border-right: 1px solid #DDD;
}

.rectacularPictureDiv-Second {
	margin-left: 334px;
}

.rectacularPicture {
	width: 309px;
	height: 229px;
}

.picnewsrightpart li {
	list-style-position: inside;
	padding: 5px;
}

div.rectacularPictureDiv-Second li a:link {
	margin-left: 0px;
}

div.rectacularPictureDiv-Second div.ui-datalist-content,#regularNewsForm div.ui-datalist-content
	{
	border-width: 0px;
}

a:hover {
	text-decoration: underline;
}

#regularNewsForm {
	clear: both;
	margin-top: 10px;
}

.ui-tabs {
	border: 0px;
}

.more {
	padding-top: 10px;
	font-size: 90%;
	font-weight: bold;
	color: Olive;
	font-style: italic;
}

a.mangeButton {
	font-size: 50%;
}

.ui-tabs li a {
	color: #004B91;
	font-size: 80%;
	margin-left: 0px;
}

.ui-tabs ul.ui-tabs-nav {
	background-color: white;
}

.regularNewsCategoryOnIndex {
	margin-bottom: 20px;
	margin-top: 15px;
}

.regularNewsCategoryOnIndex div.ui-datalist-header {
	text-align: left;
	padding: 10px 0px;
	font-size: 120%;
	line-height: 102%;
	border: 0px;
	padding-top: 15px
}

.medium {
	font-size: 13px;
}

.section {
	clear: both;
	margin: 15px 0px;
}

.picNews {
	height: 300px;
	margin-bottom: 10px;
}

.sectionHeader {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #B9C7D3;
	padding: 5px;
}

div.section div.ui-datalist-content {
	border: 0px;
}

div.section li {
	padding: 5px 5px;
}

div.independentSection .ui-datalist-header {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #B9C7D3;
	padding: 5px;
}

div.independentSection {
	
}

.section .ui-datalist {
	margin-bottom: 10px;
}

div.independentSection li {
	list-style: disc inside;
}

ol {
	padding: 0px;
}

.mixedSection li {
	list-style: disc outside;
}

.rectacularPictureDiv-Second ul {
	padding-left: 0px;
}

.rectacularPictureDiv-Second ul li {
	list-style: disc inside;
}

.solidThickLine {
	border-top: 2px solid #B9C7D3;
	clear: both;
	margin: 5px 0;
	width: 100%;
	clear: both;
}

.regularNewsCategoryOnIndex li:last-child {
	border-bottom: 0px;
}

.titleOnThreadIndex {
	border-top: 0 none;
	font-size: large;
	font-weight: bold;
}

.sectionTitle {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	display: block;
	margin-bottom: 2px;
}

.thNarrow {
	width: 150px;
}

div.regularSection table.ui-datagrid-data {
	table-layout: fixed;
}

div.regularSection td.ui-datagrid-column {
	vertical-align: top;
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
}

div.regularSection div.ui-datagrid-content {
	border: 1px;
}

#tooltip {
	width: 300px;
	position: absolute;
	padding: 4px;
	color: black;
	font-size: 11px;
	text-align: left;
	background-color: white;
	opacity: 0.8;
	filter: alpha(opacity =                                        
		                                                         
		                                                         
		                                                         
		                                                         
		                                                         
		                                                         
		                                                         
		                                                         
		                                                         
		                                                                    
		                                                                    
		                                                                    
		                                                                    
		                                                                    
		                                                                    
		                                                                    
		                       80);
	z-index: 10;
	border: 1px solid #B9C7D3;
}

div.txt a.subject {
	/**	display: block;
	height: 50px;
	margin-top: -13px;
		position: absolute; 
	top: 50%;*/
	
}

.grid table,.smallGrid table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 0px;
}

.grid table  tr:first-child td {
	border-top: 0;
}

.grid div.ui-widget-content {
	border: 0px;
}

div.popularThread {
	margin: 5px 0px;
}

.shortgrid table td { /* border: 1px dotted; */
	vertical-align: top;
}

.griddiv {
	height: 200px;
	width: 130px;
	overflow: hidden;
}

.shortgrid table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 0px;
}

.shortgrid div.ui-widget-content {
	border: 1px solid #D5E6ED
}

div.aboutus {
	padding-top: 20px;
}

.postButton {
	display: inline;
	float: left;
	margin: 10px 0;
}

.datatable {
	clear: both;
}

.popularThread h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}

div.readFloor_Main_Top_Rating span.thumbUp {
	background-image: url("/resources/images/thumb-up-icon.png");
}

div.readFloor_Main_Top_Rating span.thumbDown {
	background-image: url("/resources/images/thumb-down-icon.png");
}

#ratingId {
	float: right;
}

.ratingColumn {
	width: 100px;
}

.block {
	display: block;
}

div.postButton {
	display: inline;
	float: left;
	margin-top: 10px;
}

div.loading {
	position: fixed;
	top: +100px;
	right: +200px;
	z-index: +10000;
}

.thumbButton {
	width: 25px;
	height: 25px;
}

img {
	border: 0px;
}

.marquee {
	clear: both;
	font-size: 18px;
	font-style: italic;
	margin: 10px 0;
	color: red;
}

span.ui-cell-editor-input input {
	width: 100%;
}

img.dealPic {
	max-width: 100%;
	max-height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}

div.l1 ul  li {
	display: inline;
	padding: 0px 5px;
}

div.l1 ul {
	margin: 2px;
	float: right;
}

div#menu {
	display: block;
	clear: both;
	width: 100%;
	background-color: #3B5998;
}

#menu ul {
	height: 1.1em;
}

#menu ul li a {
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	margin-right: 30px;
}

#menu ul li a:HOVER {
	color: #F90;
}

div.l1 {
	float: right;
}

div.l1 ul li a:link {
	color: black;
}

div.l1 ul li a:VISITED {
	color: black;
}

.singleGrid label {
	float: left;
	width: 100px;
	vertical-align: middle;
	margin-right: 20px;
}

div.longText {
	min-height: 100px;
	margin-left: 105px;
}

div.storeDeals {
	min-height: 300px;
	margin-top: 0px;
}

.storePicUpload {
	float: right;
	width: 200px;
}

.storePicUpload div.fileupload-buttonbar label {
	float: right;
}

div#storeDesc,div#cashBackDesc {
	float: left;
	width: 80%;
}

.storelogo {
	width: 20%;
}

div.storePageInfo {
	float: left;
	margin-right: 10px;
}

div#storeDeals {
	margin-top: 15px;
}

div#storeDeals table.noBorderTable thead th.ui-widget-header {
	background-color: white;
	text-align: right;
}

div.frontPageDeal {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 5px;
}

div.adRightSide {
	text-align: center;
	background-color: #F3F3F3;
	margin: 10px 0px;
}

span.price {
	color: green;
	display: block;
	font-weight: bold;
	padding: 2px;
}

span.storeName {
	display: block;
}

img.storePicInListing {
	max-height: 70px;
	max-width: 100px;
}

td.logo {
	height: 50px;
}

div#globalMessageId {
	clear: both;
}

.afterLabel {
	margin-left: 120px;
}

form#ViewForm td.singleGrid {
	padding-bottom: 10px;
}

input#tsSubject {
	width: 75%;
}

.viewStorePic {
	max-width: 120px;
	max-height: 120px;
}

div.listRightPage {
	display: inline;
}

div.ratingRightPage {
	float: right;
}

a.boldText {
	font-size: 1.2em;
	float: left;
}

span.numOfDeals4Today {
	color: yellow;
	font-size: 0.8em;
	font-style: italic;
	padding: 0 2px;
}

x {
	color: red;
	font-weight: bold;
}

.topSpace {
	margin-top: 20px;
}

.leftPadding {
	padding-left: 20px;
}

.green {
	color: green;
	font-weight: bold;
	display: inline;
	margin-top: 5px;
}

.newLine {
	display: block;
	clear: both;
}

.tinyImage {
	max-height: 20px;
}

table.profilePic label {
	width: 150px;
}

.paddingRight {
	font-weight: bold;
	padding-right: 20px;
}

.red a:link,.red a:VISITED {
	color: red;
}

div.mainSection {
	float: left;
	width: 80%;
}

div#leftSideLink dl dt {
	padding: 3px 0px;
}

div#leftSideLink dl {
	margin-top: 0px;
}

.storeInfoRight {
	margin-left: 250px;
}

h1.blue {
	color: #014C90;
	margin: 5px 0px;
}

h1.blueNoWrap {
	color: #014C90;
	margin: 5px 0px;
	display: inline;
}

.smallSpan {
	font-size: 0.6em;
}

h1.title {
	padding-top: 10px;
}

table.noBorder td {
	border: 0px;
	padding: 2px;
}

.bold {
	font-weight: bold;
	font-size: 1.2em ''
}

.topTabView {
	clear: both;
}

.topTabView div.ui-tabs-panel {
	padding-left: 0px;
}

div.txt a.toppedLink:link,div.txt a.toppedLink:visited {
	color: #004B91;
}

/* ---------------UI upgrade----------------*/
.top {
	display: block;
	width: 100%;
	min-width: 1000px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	background: #EFEFEF;
	border-bottom: 1px #E5E5E5 solid;
	font-family: Arial, Helvetica, sans-serif;
}

.topwrap {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 95%;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px #E5E5E5 solid;
}

.topwrapleft {
	float: left;
	width: 420px;
	line-height: 25px;
}

.topwrapleft ul {
	margin: 0;
	padding: 0;
}

.topwrapleft ul li {
	float: left;
}

.topwrapleft ul li a {
	padding: 0 10px;
	color: #000;
}

.topwrapleft ul li a:hover {
	padding: 0 10px;
	color: #f00;
}

.topwrapright {
	float: right;
	line-height: 25px;
}

.topwrapright ul {
	margin: 0;
	padding: 0;
}

.topwrapright ul li {
	float: left;
}

.topwrapright ul li a {
	padding: 0 10px;
	color: #000;
}

.topwrapright ul li a:hover {
	padding: 0 10px;
	color: #f00;
}

.headerL2 {
	display: block;
	width: 100%;
	min-width: 1500px;
	height: 94px;
	overflow: hidden;
	background-color: white;
}

.header_w {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.logo {
	display: block;
	margin-top: 5px;
	float: left;
	width: 234px;
	margin-right: 30px;
}

.search {
	text-align: right;
	display: block;
	padding-top: 35px;
	float: left;
	width: 350px;
}

.s_input {
	width: 200px;
	height: 26px;
	line-height: 26px;
	border: 1px #ccc solid;
}

.gg {
	display: block;
	float: right;
}

.nav1 {
	display: block;
	width: 100%;
	min-width: 1000px;
	height: 35px;
	background: #000;
	font-size: 13px;
	font-weight: bold;
}

.nav_a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 35px;
	line-height: 35px;
	color: #fff;
}

.nav_a ul {
	margin: 0;
	padding: 0;
}

.nav_a ul li {
	float: left;
}

.nav_a ul li a {
	display: block;
	margin: 0 5px;
	padding: 0 30px;
	color: #fff;
}

.nav_a ul li a:hover {
	display: block;
	background: #F77101;
}

.nav_a ul li .current {
	display: block;
	background: #F77101;
}

#categoryMenu div.nav2 {
	display: block;
	width: 100%;
	min-width: 1000px;
	background: #1F8ACE;
	font-size: 12px;
}

#categoryMenu div.nav2  .nav_b {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	height: 20px;
	line-height: 20px;
	background: #1F8ACE;
	border: 0px;
	font-size: 1.2em;
}

#categoryMenu div.nav2    .nav_b ul {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	font-size: 0.8em;
}

#categoryMenu div.nav2      .nav_b ul li {
	float: left;
}

#categoryMenu div.nav2 	   .nav_b ul li a {
	display: block;
	margin: 0 5px;
	padding: 0 5px;
	color: #fff;
}

.content {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 200px;
}

.content_min {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	width: 95%;
}

.side_left {
	float: left;
	margin-right: 15px;
	width: 77%;
	height: auto;
}

.left_top {
	width: 100%;
	height: 214px;
	background: #F3F3F3;
	border: 1px #E1DDDD solid;
}

/**
.side_left div.section {
	margin-bottom: 20px;
	padding-bottom: 10px;
	width: 100%;
	height: auto;
	background: #F3F3F3;
	border: 1px #E1DDDD solid;
}

*/
.righttop {
	padding-left: 8px;
	padding-top: 10px;
	height: 30px;
	line-height: 30px;
	color: #29399A;
	font-size: 16px;
	font-weight: bold;
}

.sectionL2 {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
	width: 99%;
}

div.rightList ul {
	padding: 0px;
	margin: 0px;
}

div.rightList ul li {
	height: 88px;
	display: block;
	width: 96%;
	border-bottom: 1px #ccc solid;
	padding-bottom: 10px;
}

div.rightListBottom {
	background-color: gray;
}

.nr1_tab {
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 99%;
	height: auto;
	border-bottom: 1px #ccc solid;
}

.nr1_tableft {
	float: left;
	margin-right: 4px;
	max-width: 80px;
	max-height: 80px;
	text-align: center;
	overflow: hidden;
}

.shou {
	position: absolute;
	margin-top: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: #F77101;
	color: #fff;
	z-index: 100;
}

.nr1_tabright {
	margin-left: 92px;
	height: 100%;
}

.nr1_tabright h3 {
	height: 60px;
	margin-bottom: 15px;
	font-size: 12px;
	font-weight: normal;
	color: #666;
	overflow: hidden;
	margin-top: 0px;
}

.nr1_tabright a:hover {
	color: #f00;
}

div.mixedSection,div.mixedSection .ui-widget-content {
	background-color: #F3F3F3;
}

.threadCarousel {
	display: block;
	width: 100%;
	height: auto;
	border: 1px #ccc solid;
}

.threadCarousel .ui-carousel-header {
	padding-left: 20px;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	color: #0E2DB2;
	background: #E9F4FB
}

.threadCarousel .ui-carousel-viewport {
	width: 100%;
	display: block;
}

.threadCarousel {
	width: 100%;
}

.threadItemStyle {
	width: 188px;
	height: 100%;
}

.left_toptwo h2 {
	padding-left: 10px;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	color: #F77101;
	/**background: #FEF9EE;*/
	margin: 0px;
}

.tab_two {
	width: 100%;
	border-collapse: collapse;
}

table.tab_two td {
	padding: 2px 0;
	border: 0px;
	height: 100px;
}

.tab_two tr {
	border-bottom: 1px #ccc solid;
}

.tab_two td a {
	color: #004B91;
}

table.tab_three {
	width: 100%;
	border-collapse: collapse;
	border: 0px;
}

table.tab_three tr {
	border: 0;
	border: 0px;
}

table.tab_three td {
	padding: 0 10px;
	border: 0px;
}

.whiteBackGround {
	background-color: white;
}

span.right {
	float: right;
}

table.tab_two th.deals {
	width: 20%;
}

button.disabled {
	background-color: gray;
}

#tabView ul.ui-tabs-nav {
	width: 15%;
}

#tabView div.ui-tabs-panels {
	width: 85%;
}

.tableColumnBreakWord {
	word-wrap: break-word;
}

.tabStyle {
	width: 15%;
}

#tabview ul {
	width: 15%;
}

.helpText {
	display: none;
	margin-left: 30px;
}

.helpLink {
	color: #004B91;
}

.thinBox {
	border: 1px solid #ddd;
	margin: 20px 0px;
}

.faq>li {
	list-style: disc outside;
}

.faq>li ol li {
	list-style: decimal outside;
}

.leftMargin {
	margin-left: 30px;
}

.thinBox img {
	margin: 20px;
}

button.ui-button,#messagePanelId button.ui-button {
	display: inline-block;
	padding: 0;
	text-align: center;
	text-decoration: none;
	padding: 0px;
	margin: 2px 2px;
	background-color: #1F8ACE;
	color: white;
	border: 1px solid #1F8ACE;
	text-shadow: 1px 1px rgba(0, 0, 0, .2);
	font-size: 14px;
	font-weight: 600;
	background-color: #1F8ACE;
}

button.bigButton {
	
}

button.smallButton,#commandbuttons button.smallButton,div.readFloor_Main_Content_Action button.smallButton
	{
	font-size: 11px;
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;
	color: black;
	font-weight: normal;
	text-shadow: 1px 1px rgba(0, 0, 0, 0);
}

.orderlist li {
	margin: 20px;
	list-style: decimal inside;
	font-size: 14px;
}

.readFloor_Left ul {
	padding: 0px;
	margin-top: 5px;
}

.readFloor_Left ul li {
	padding: 3px 0px;
}

.readFloor_Left ul li a:link {
	margin: 0px;
}

#replydatatable {
	margin: 10px 0px;
	margin-bottom: 30px;
}

div.ui-fileupload-buttonbar,div.grayBackGround {
	background-color: #EEEEEE;
}

.highlightrow {
	background-color: #FFFAE4;
}

table.noBorderTable  thead th,table.noBorderTable  tfoot {
	background-color: #F4F7FC;
	color: #4580AA;
	font-weight: 700;
}

.red {
	color: red;
}

.whitebackground,div.ui-datatable-footer {
	background-color: white;
}

.lightgraybackground {
	background-color: #EEEEEE;
}

.smallGrid table td {
	height: 100px;
	width: 100px;
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 5px;
}

.highSpace {
	margin: 50px 0px;
}

body {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 14px;
	margin: 0px;
	background-color: #f6f9fb;
}

div.dayDealIndex {
	display: block;
	clear: both;
	height: 20px;
	color: #0077BC;
	font-weight: bold;
	text-decoration: none;
	padding: 25px 2px 1px 0px;
	border-bottom: 1px solid #DDDDDD;
}

.mainColumn {
	width: 40%;
}

span.priceInList {
	color: green;
	font-weight: bold;
}

div.ui-widget {
	font-family: Arial, sans-serif;
	font-size: 1.1em;
}

#storeTable div.ui-datatable-header {
	background-color: #f6f9fb;
	border: 0px solid;
}

div#storeTable table  thead tr:first-child th {
	background-color: #f6f9fb;
	color: #000000;
	font: 1.4em bold;
	text-align: left;
}

.readTop {
	background-color: white;
	margin: 0px;
	color: #014C90;
	font-weight: 700;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #EEEEEE;
}

.readFloor_Main {
	background-color: white;
}

.readFloor_Main_Top,.readFloor_Main_Top_Misc {
	border-bottom: 1px dotted #EEEEEE;
	padding: 10px;
}

.nr1_tabright a {
	font-size: 14px;
}

.smallerGrid table td {
	height: 50px;
	width: 50px;
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 5px;
}

.smallerGrid table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 0px;
}

div#pge-center {
	background-color: white;
}

.side_right {
	margin: 0;
	padding: 0;
	float: left;
	width: 20%;
	height: auto;
	background-color: #f6f9fb;
}

.side_right .ui-widget-header {
	background-color: #EEEEEE;
	border: 0px;
	text-align: left;
}

.smallerGrid  div.ui-datagrid-content {
	border: 0px;
}

.sectionL2 div.ui-widget {
	font-size: 1em;
}

.left_toptwo {
	width: 100%;
	height: auto;
	border-bottom: 0;
}

.textCenter {
	text-align: center;
}

.infoMessage {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #3A87AD;
}

div.hotDealTabView ul.ui-tabs-nav {
	background-color: #f6f9fb;
}

div.hotDealTabView div.ui-tabs-panels div.ui-tabs-panel {
	padding: 0px
}

div.hotDealTabView ul.ui-tabs-nav>li.hotDealTitle {
	background-color: #f6f9fb;
}

div.hotDealTabView ul.ui-tabs-nav>li.ui-tabs-selected {
	background-color: #1F8ACE;
}

div.hotDealTabView ul.ui-tabs-nav>li.ui-tabs-selected a:link,div.hotDealTabView ul.ui-tabs-nav>li.ui-tabs-selected a:visited
	{
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: 600;
}

.redBold {
	color: red;
	font-weight: 600;
	margin-left: 10px;
	font-size: 0.9em;
}

.green {
	color: green;
	font-weight: bold;
	margin-left: 10px;
	font-size: 0.9em;
}

.greenText {
	color: green;
}

/*the label for each input box*/
table label {
	vertical-align: middle;
	float: right;
	margin-right: 10px;
	min-width: 100px;
}
/*if the input tag in the h:panelGrid(means table), set width, which should in sync with p:editor */
table.createthread input[type="text"],.parentCatSelectMenu,table.createthread input[type="password"],table.createthread textarea
	{
	width: 500px;
}

ol.generalNumList li {
	list-style: decimal inside none;
	padding: 5px;
}

div.instruction {
	color: red;
	background-color: #EEEEEE;
	width: 80%;
}

.userInfo li label {
	min-width: 20px;
}

.userInfo {
	width: 130px;
	margin: auto;
}

.userInfo img {
	max-width: 100px;
}

.myPostMainColumn {
	width: 60%;
}

.myReplyMainColumn {
	width: 70%;
}

button.adminButton {
	
}

.deals button.greenButton,button.ui-button.greenButton {
	background-color: green;
	color: white;
	font-weight: normal;
	width: 120px;
	border: 0px;
	font-size: 0.9em;
}

#storeTable table.tab_two td {
	height: 60px;
}

.topPickedDeal {
	color: black;
	font-size: 1.1em;
}

div.indexImg {
	position: relative;
	width: 90%;
	height: 110px;
	margin: 0px auto;
	text-align: center;
}

.blockLeft {
	display: block;
	clear: both;
	width: 92%;
	height: 138px;
	margin: 0 auto;
}

.blockLeft a,.block a:visited {
	line-height: 20px;
	margin: 0 auto;
	font-size: 14px;
	text-align: left;
	overflow: hidden;
	display: block;
}

span.price {
	color: #009900;
	font-weight: bold;
	width: 98%;
	height: 20px;
	line-height: 20px;
	margin: 0 auto;
	display: block;
}

.storeSecton {
	font-size: 12px;
	color: #666666;
	width: 100%;
	height: 20px;
	margin: 0 auto;
}

span.storeName {
	display: inline;
	float: left;
	position: absolute;
	left: 0;
	bottom: 0;
}

span.storeCashBackPct {
	font-size: 12px;
	color: green;
	font-weight: bold;
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

.hotimg {
	position: absolute;
	top: 0;
	left: 0;
	height: 45px;
	width: 45px;
	z-index: 10;
}

.hotimg img {
	height: 45px;
	width: 45px;
}

.grid table td {
	height: 300px;
	width: 190px;
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 5px;
	position: relative;
	min-width: 190px;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.moneySign {
	height: 16px;
	vertical-align: bottom;
}

div.indexImgRightPage {
	position: relative;
	width: 90%;
	height: 80px;
	margin: 2px auto;
	text-align: center;
}

img.dealPicSmaller {
	max-width: 80px;
	max-height: 80px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	padding: 3px;
}

td.readFloor_Main div.main {
	min-height: 300px;
	padding-right: 300px
}

div.viewThreadRightPicture {
	display: block;
	width: 300px;
	position: absolute;
	right: 0;
	top: 0;
}

.storeSecton {
	font-size: 12px;
	color: #666666;
	width: 100%;
	height: 20px;
	margin: 0 auto;
}

span.storeName {
	display: inline;
	position: absolute;
	left: 0;
	bottom: 0;
}

span.storeCashBackPct {
	font-size: 12px;
	color: green;
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
}

ul.generalList {
	margin-top: 0px;
}

div.margintop {
	margin-top: 10px;
}

.zhengwen {
	line-height: 25px;
}

.zhengwen ol li {
	list-style: decimal inside;
}

.zhengwen ul li {
	list-style: disc inside;
}

tr.announceThreadRow td {
	height: 40px;
}

tr.announceThreadRow img.dealpicInListing {
	max-width: 80px;
	max-height: 40px;
	float: right;
}

div.imgWrapper {
	width: 80px;
	height: 40px;
}

ol.helpLi li {
	list-style: decimal inside;
	padding: 5px;
}

.diplayNone {
	display: none;
}

.diplayShow {
	display: block;
}

.socialWrapper {
	border: 1px solid #EEEEEE;
	margin: auto;
	width: 60%;
	margin: auto;
}

.socialLoginComp {
	float: left;
	padding: 20px 30px;
}

hr {
	display: block;
	clear: both;
}

.socialLoginForms {
	display: block;
	clear: both;
}

ul.generalList li,div.generalList ul li {
	list-style: disc outside none;
	padding: 5px 0px;
}

#referLink {
	width: 420px;
}

.note {
	font-size: 0.8em;
}

a.tip:link {
	color: #ff7e00;
	padding: 0px;
	font-weight: bold;
}

.newSection {
	margin-top: 50px;
}

table.tab_two th,.ui-tabs-panels table.tab_two th {
	padding-left: 5px;
	line-height: 20px;
	text-align: center;
	background: #EEEEEE;
	font-size: 0.9em;
	font-weight: normal;
}

th.nonMainColumn {
	width: 10%;
}

.smallCell {
	width: 80px;
	border: 0px;
}

table.noBorderTable tbody tr td {
	word-wrap: break-word;
}