.rightarea {
	float: right;
	display: inline;
	width: 10%;
	min-width: 8%;
	margin-left: .85%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	position: relative;
	height: 800px;
	margin-right: 30px;
}